h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

button {
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

$transition-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

.film-info__overlay {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    position: fixed;
    top: 0;
    left: 0;
    overflow-y: scroll;
    z-index: 100;

    width: 100%;
    height: 100%;

    min-width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    transition: opacity $transition-duration $transition-timing-function,
        visibility $transition-duration $transition-timing-function;

    &.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: initial;
    }

    @media screen and (max-width: 767px) {
        padding: 20px;
    }
}

.film-info__container {
    width: 100%;
    background-color: $primary-white-color;

    padding: 48px 20px 40px 20px;

    transform: translateX(100%);
    transition-property: transform;
    transition-duration: 800ms;
    transition-timing-function: $transition-timing-function;

    .film-info__overlay & {
        transform: translateX(0);
    }

    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        height: 562px;
        width: 618px;
        display: flex;
        padding: 42px 28px 40px 28px;
    }
    
    @media screen and (min-width: 1024px) {
        height: 568px;
        width: 882px;
        padding: 50px 30px 40px 30px;
    }

}

.film-info__poster {
    width: 369px;
}

.film-info__title {
    font-size: 20px;
    line-height: 1.15;
    margin-bottom: 20px;

    @media screen and (min-width: 1024px) {
        font-size: 30px;
        line-height: 1.17;
    }
}

.film-info__properties {
    margin-bottom: 20px;
}

.film-info__properties dt,
.film-info__properties dd {
    font-size: 12px;
    line-height: 1.33;

    margin-left: 0;

    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.film-info__properties dt {
    width: 108px;
    float: left;

    color: $secondary-text-color;

    @media screen and (min-width: 1024px) {
        width: 152px;
    }
}

.film-info__properties dd {
    display: flex;
}

.film-info__properties .accent,
.film-info__properties .simple {
    padding: 1px 4px 1px 4px;
    border-radius: 5px;
    display: block;
    text-align: center;
    min-width: 36px;
}

.film-info__properties .accent {
    background-color: $accent-color;
    color: $primary-white-color;
}

.film-info__properties .separator {
    margin-left: 3px;
    margin-right: 3px;
    
    color: $secondary-text-color;
}

.film-info__properties .simple {
    background-color: $secondary-white-color;
}
