.movie__cover{
    max-width: 280px;
    max-height: 398px;
    border-radius: 5px;
    @media screen and (min-width: 767px){
            min-width: 336px;
            min-height: 455px;

    }
    @media screen and (min-width: 1024px){
        min-width: 309px;
        min-height: 489px;
 
    }
}

.movies{
display: flex;
flex-direction: column;
@media screen and (min-width: 767px){
    display: flex;
    flex-wrap: wrap;
    flex-direction: unset;
}
@media screen and (min-width: 1024px){
    display: flex;
 
}
}
.movie{
margin-left: auto;
margin-right: auto;
margin-bottom: 21px; 
@media screen and (min-width: 767px){
margin-right: 16px;
margin-left: 0px;
}
@media screen and (min-width: 1024px){
margin: 0px;
}
}


.movie:nth-child(even){
    @media screen and (min-width: 767px){
        margin-left: 16px;
        margin-right: 0px;
    }
    @media screen and (min-width: 1024px){
        margin: 0;
    }
}
.movie:nth-child(odd){
    @media screen and (min-width: 767px) {
        margin-left: 0px;
        margin-right: 16px;
    }
    @media screen and (min-width: 1024px){
margin: 0;
    }
}

.movie:nth-child(3n+2){
    @media screen and (min-width: 1024px) {
        margin-left: 16px;
        margin-right: 16px;
    }
}

// .movie:last-child {
//     @media screen and (min-width: 767px){
// margin-left: 0px;
//     }
    
// }

