/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './variables';
@import './utility-classes';
@import './footer';
@import './header';
@import './library-header';
@import './components/one-card-preview';
@import './general-container';
@import './film-info';
