<div class="film-info__overlay is-open">
  <div class="film-info__container">
    <div class="film-info__poster">
      <img
        src="https://www.themoviedb.org/t/p/w1280/1pnigkWWy8W032o9TKDneBa3eVK.jpg"
        alt="interstellar"
        class="film-info__image img"
      />
    </div>
    <div class="film-info__text">
      <h2 class="film-info__title">Interstellar</h2>
      <dl class="film-info__properties list">
        <dt>Vote / Votes</dt>
        <dd>
          <span class="accent">7.3</span>
          <span class="separator">/</span>
          <span class="simple">1260</span>
        </dd>
        <dt>Popularity</dt>
        <dd>100.2</dd>
        <dt>Original Title</dt>
        <dd>A FISTFUL OF LEAD</dd>
        <dt>Genre</dt>
        <dd>Western</dd>
      </dl>
      <h3 class="film-info__description-title">About</h3>
      <p class="film-info__description">
        The adventures of a group of explorers who make use of a newly discovered wormhole to
        surpass the limitations on human space travel and conquer the vast distances involved in an
        interstellar voyage.
      </p>
      <button class="film-info__button film-info__button--accent">add to watched</button>
      <button class="film-info__button">add to queue</button>
    </div>
  </div>
  <!--  <button class="close-modal-button"></button>-->
</div>
