<div class="footer__backdrop--visible footer__backdrop--hidden" data-modal>
  <div class="footer__modal">
    <button class="footer__button-close" type="button" data-modal-close>
      <svg class="footer__close-icon" width="18" height="18">
        <use href="./images/sprite.svg#close"></use>
      </svg>
</button>
    <h2 class="footer-modal__title">Наша супер команда</h2>
    
    <ul class="team list">
    <li class="team__item">
        <img class="team__img" src="./images/photo1-desktop.jpg" alt="Фото Игоря Демьяненко">
        <div class="team__wrapper">
            <h3 class="team__title">Михаил Ермаков</h3>
            <p lang="en" class="team__text">UI Designer</p>
    
        </div>
    </li>
    
        <li class="team__item">
            <img class="team__img" src="./images/photo1-desktop.jpg" alt="Фото Игоря Демьяненко">
            <div class="team__wrapper">
                <h3 class="team__title">Михаил Ермаков</h3>
                <p lang="en" class="team__text">UI Designer</p>
        
            </div>
        </li>
    
        <li class="team__item">
            <img class="team__img" src="./images/photo1-desktop.jpg" alt="Фото Игоря Демьяненко">
            <div class="team__wrapper">
                <h3 class="team__title">Михаил Ермаков</h3>
                <p lang="en" class="team__text">UI Designer</p>
        
            </div>
        </li>
    
        <li class="team__item">
            <img class="team__img" src="./images/photo1-desktop.jpg" alt="Фото Игоря Демьяненко">
            <div class="team__wrapper">
                <h3 class="team__title">Михаил Ермаков</h3>
                <p lang="en" class="team__text">UI Designer</p>
        
            </div>
        </li>
        <li class="team__item">
            <img class="team__img" src="./images/photo1-desktop.jpg" alt="Фото Игоря Демьяненко">
            <div class="team__wrapper">
                <h3 class="team__title">Михаил Ермаков</h3>
                <p lang="en" class="team__text">UI Designer</p>
        
            </div>
        </li>
        
        <li class="team__item">
            <img class="team__img" src="./images/photo1-desktop.jpg" alt="Фото Игоря Демьяненко">
            <div class="team__wrapper">
                <h3 class="team__title">Михаил Ермаков</h3>
                <p lang="en" class="team__text">UI Designer</p>
        
            </div>
        </li>
        
    <li class="team__item">
        <img class="team__img" src="./images/photo1-desktop.jpg" alt="Фото Игоря Демьяненко">
        <div class="team__wrapper">
            <h3 class="team__title">Михаил Ермаков</h3>
            <p lang="en" class="team__text">UI Designer</p>
    
        </div>
    </li>
        
        <li class="team__item">
                <img class="team__img" src="./images/photo1-desktop.jpg" alt="Фото Игоря Демьяненко">
            <div class="team__wrapper">
                <h3 class="team__title">Михаил Ермаков</h3>
                <p lang="en" class="team__text">UI Designer</p>

            </div>
        </li>

    </ul>
    <div class="overlay">
        <h1>Наша супер команда</h1>
       </div>
  </div>

</div>
