<section class="container movies">
    <div class="movie">
        <div class="movie__cover-inner">
            <img class="movie__cover" src="/images/cover.jpg" alt="${movie.name}">
            <div class="movie__info">
                <p class="movie__title">Green Book</p>
                <p class="movie__category">Drama, Action</p>
                <p class="movie__year">2020</p>
            </div>
        </div>
    </div>
    <div class="movie">
        <div class="movie__cover-inner">
            <img class="movie__cover" src="/images/cover.jpg" alt="${movie.name}">
            <div class="movie__info">
                <p class="movie__title">Green Book</p>
                <p class="movie__category">Drama, Action</p>
                <p class="movie__year">2020</p>
            </div>
        </div>
    </div>
    <div class="movie">
        <div class="movie__cover-inner">
            <img class="movie__cover" src="/images/cover.jpg" alt="${movie.name}">
            <div class="movie__info">
                <p class="movie__title">Green Book</p>
                <p class="movie__category">Drama, Action</p>
                <p class="movie__year">2020</p>
            </div>
        </div>
    </div>
    <div class="movie">
        <div class="movie__cover-inner">
            <img class="movie__cover" src="/images/cover.jpg" alt="${movie.name}">
            <div class="movie__info">
                <p class="movie__title">Green Book</p>
                <p class="movie__category">Drama, Action</p>
                <p class="movie__year">2020</p>
            </div>
        </div>
    </div>
    <div class="movie">
        <div class="movie__cover-inner">
            <img class="movie__cover" src="/images/cover.jpg" alt="${movie.name}">
            <div class="movie__info">
                <p class="movie__title">Green Book</p>
                <p class="movie__category">Drama, Action</p>
                <p class="movie__year">2020</p>
            </div>
        </div>
    </div>
    <div class="movie">
        <div class="movie__cover-inner">
            <img class="movie__cover" src="/images/cover.jpg" alt="${movie.name}">
            <div class="movie__info">
                <p class="movie__title">Green Book</p>
                <p class="movie__category">Drama, Action</p>
                <p class="movie__year">2020</p>
            </div>
        </div>
    </div>
    <div class="movie">
        <div class="movie__cover-inner">
            <img class="movie__cover" src="/images/cover.jpg" alt="${movie.name}">
            <div class="movie__info">
                <p class="movie__title">Green Book</p>
                <p class="movie__category">Drama, Action</p>
                <p class="movie__year">2020</p>
            </div>
        </div>
    </div>
    <div class="movie">
        <div class="movie__cover-inner">
            <img class="movie__cover" src="/images/cover.jpg" alt="${movie.name}">
            <div class="movie__info">
                <p class="movie__title">Green Book</p>
                <p class="movie__category">Drama, Action</p>
                <p class="movie__year">2020</p>
            </div>
        </div>
    </div>
    <!-- <div class="movie">
        <div class="movie__cover-inner">
            <img class="movie__cover" src="/images/cover.jpg" alt="${movie.name}">
            <div class="movie__info">
                <p class="movie__title">Green Book</p>
                <p class="movie__category">Drama, Action</p>
                <p class="movie__year">2020</p>
            </div>
        </div>
    </div> -->
</section>