<section class="container movies">
  <div class="movie" data-id="${id}">
    <img
      class="movie__cover"
      src="https://i.pinimg.com/originals/53/91/1a/53911a269df36dd3b2a2007b7f0ed03e.jpg"
      alt="${movie.name}"
    />
    <h2 class="card-preview-info__name">name</h2>
    <div class="card-preview-info">
      <p class="card-preview-info__data">Genre | years</p>
      <span class="card-preview-info__rating">rating</span>
    </div>
  </div>
  <div class="movie" data-id="${id}">
    <img
      class="movie__cover"
      src="https://i.pinimg.com/originals/53/91/1a/53911a269df36dd3b2a2007b7f0ed03e.jpg"
      alt="${movie.name}"
    />
    <h2 class="card-preview-info__name">name</h2>
    <div class="card-preview-info">
      <p class="card-preview-info__data">Genre | years</p>
      <span class="card-preview-info__rating">rating</span>
    </div>
  </div>
  <div class="movie" data-id="${id}">
    <img
      class="movie__cover"
      src="https://i.pinimg.com/originals/53/91/1a/53911a269df36dd3b2a2007b7f0ed03e.jpg"
      alt="${movie.name}"
    />
    <h2 class="card-preview-info__name">name</h2>
    <div class="card-preview-info">
      <p class="card-preview-info__data">Genre | years</p>
      <span class="card-preview-info__rating">rating</span>
    </div>
  </div>
  <div class="movie" data-id="${id}">
    <img
      class="movie__cover"
      src="https://i.pinimg.com/originals/53/91/1a/53911a269df36dd3b2a2007b7f0ed03e.jpg"
      alt="${movie.name}"
    />
    <h2 class="card-preview-info__name">name</h2>
    <div class="card-preview-info">
      <p class="card-preview-info__data">Genre | years</p>
      <span class="card-preview-info__rating">rating</span>
    </div>
  </div>
  <div class="movie" data-id="${id}">
    <img
      class="movie__cover"
      src="https://i.pinimg.com/originals/53/91/1a/53911a269df36dd3b2a2007b7f0ed03e.jpg"
      alt="${movie.name}"
    />
    <h2 class="card-preview-info__name">name</h2>
    <div class="card-preview-info">
      <p class="card-preview-info__data">Genre | years</p>
      <span class="card-preview-info__rating">rating</span>
    </div>
  </div>
  <!-- <div class="movie">
        <img class="movie__cover" src="https://i.pinimg.com/originals/53/91/1a/53911a269df36dd3b2a2007b7f0ed03e.jpg"
            alt="${movie.name}">
        <h2 class="card-preview-info__name">name</h2>
        <div class="card-preview-info">
            <p class="card-preview-info__data">Genre | years</p>
            <span class="card-preview-info__rating">rating</span>
        </div>
    </div> -->
</section>
