<header data-action="header">
  <div class="container" data-action="container">
    <nav>
      <div class="nav__wrap">
        <div class="logo">
          <svg width="24px" height="24px" class="logo__icon">
            <use href="/images/sprite.svg#logo"></use>
          </svg>
          <p href="index.html" class="logo__text">Filmoteka</p>
        </div>
        <ul class="nav__list list">
          <li class="nav__item nav__item--current">Home</li>
          <li class="nav__item">My library</li>
        </ul>
      </div>
      <div class="search-field"  data-action="search">
        <span class="search-field__wrap">
          <input class="search-field__input" placeholder="Поиск фильмов" />
          <div class="search-field__icon--wrap">
            <svg width="12px" height="12px" class="search-field__icon">
              <use href="/images/sprite.svg#search"></use>
            </svg>
          </div>
        </span>
      </div>
    </nav>
    <ul class="library-button__list list visually-hidden"  data-action="buttons">
      <li class="library-button__item"><button type="button" class="library-button">Watched</button></li>
      <li class="library-button__item"><button type="button" class="library-button">Queue</button></li>
    </ul>
  </div>
</header>
